label > span {
    min-width: 120px;
    display: inline-block;
}
label {
    display: block;
}
input {
    min-width: 275px;
}
button[disabled], html input[disabled] {
    cursor: default;
    color: silver;
}
.serialok {
    border: 1px solid green;
}